.add-friend {
    display: flex;
    width: 280px;
    height: 105px;
    border-radius: 8px;
    padding: 6px 8px;

    &:hover {
        background: #E4E6EB;
        cursor: pointer;
    }

    & + .add-friend {
        margin-bottom: 8px;
    }
}

.avatar {
    display: flex;
    align-items: flex-start;
    margin-right: 12px;
    padding: 4px 0;
    & img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 205px;
}

.inner {
    display: flex;
    margin-top: 4px;
}

.submit, .delete {
    padding: 0 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    width: 90px;
    height: 36px;
    cursor: pointer;
}

.submit {
    background-color: #1B74E4;
    color: #ffffff;
    margin-right: 8px;
    transition: 1s;

    &:hover {
        background: rgb(10, 94, 204);
    }
}

.delete {
    background: #d8d8d8;
    transition: 1s;

    &:hover {
        background: rgb(155, 154, 154);
    }
}