.button-link {
    // background: red;
    height: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & + .button-link {
        margin-left: 8px;
    }
}

.wrapper {
    height: 40px;
    width: 40px;
    background: #E4E6EB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover {
        background: rgb(200, 200, 200);
    }
}


.icon-button {
    width: 20px;
    height: 20px;
}