.container {
    display: flex;
    flex-direction: column;

    & + .container {
        margin-left: 8px;
    }
}

.button-link {
    width: 112px;
    height: 56px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #65676B;

    &.active {
        color: #1678F2;
    }

    &:not(.active):hover {
        background: var(--web-wash);
        border-radius: 8px;

    }
}

// .active {
//     color: #1678F2;
// }

.border-bottom {
    width: 108px;
    height: 4px;
    background: #1678F2;
}

.wrapper {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;

}


.icon-button {
    width: 28px;
    height: 28px;
}