.wrapper {
    width: 280px;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    cursor: pointer;

    h4 {
        flex: 1;
        font-weight: 500;
        margin-left: 8px;
    }

    &:hover {
        background: #E4E6EB;
        border-radius: 8px;
    }

    &+.wrapper {
        margin-bottom: 4px;
    }
}

.img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.icon {
    width: 28px;
    height: 28px;
    background: #333;
    color: rgb(216, 214, 214);
    border-radius: 50%;
    border: none;
    outline: none;
}